<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <title>Matador de Monstros</title>
  </head>
  <body>
    <div id="app">
      <div class="panel scores" :style="{ justifyContent: 'space-around' }">
        <div class="player-stats">
          <p>Jogador</p>
          <div class="life-bar">
            <div
              class="life"
              :class="{ danger: player.life < 20 }"
              :style="{width: `${player.life}%`}"
            >
            </div>
          </div>
          <p>{{ player.life }}%</p>
        </div>

        <div class="player-stats">
          <p>Monstro</p>
          <div class="life-bar">
            <div
              class="life"
              :class="{ danger: monster.life < 20 }"
              :style="{width: `${monster.life}%`}"
            >
            </div>
          </div>
          <p>{{ monster.life }}%</p>
        </div>
      </div>

      <div v-if="hasResult" class="panel result">
        <div v-if="monster.life === 0" class="win">Você ganhou :')</div>
        <div v-else class="lose">Você perdeu :(</div>
      </div>

      <div class="panel buttons">
        <button
          class="button"
          :style="{ background: '#606BBF' }"
          @click="initGame"
          v-if="!inGame"
        >
          Iniciar jogo
        </button>

        <template v-else>
          <button
          class="button"
          :style="{ background: '#BD2C39' }"
          @click="attack(false)"
          >
            Ataque
          </button>

          <button
          class="button"
          :style="{ background: '#E7993F', color: '#000' }"
          @click="attack(true)"
          >
            Ataque Especial
          </button>

          <button
            class="button"
            :style="{ background: '#56A642' }"
            @click="heal"
          >
            Curar
          </button>

          <button
          class="button"
          :style="{ background: '#A8A8A8', color: '#000' }"
          @click="quit"
          >
            Desistir
          </button>
        </template>
      </div>

      <div class="panel logs" v-if="gameLog.length">
        <ul>
          <li v-for="log in gameLog" class="log" :class="log.className">
            {{ log.text }}
          </li>
        </ul>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
